Source: portlet-api-2.0-spec
Section: java
Priority: optional
Maintainer: Debian Java Maintainers <pkg-java-maintainers@lists.alioth.debian.org>
Uploaders: Damien Raude-Morvan <drazzib@debian.org>
Build-Depends: debhelper (>= 9), default-jdk, maven-debian-helper (>= 2.0)
Build-Depends-Indep: default-jdk-doc,
                     libmaven-javadoc-plugin-java,
                     libservlet3.1-java,
                     libservlet3.1-java-doc
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/pkg-java/portlet-api-2.0-spec.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-java/portlet-api-2.0-spec.git
Homepage: http://portals.apache.org/pluto/portlet-2.0-apidocs/

Package: libportlet-api-2.0-spec-java
Architecture: all
Depends: ${maven:Depends}, ${misc:Depends}
Recommends: ${maven:OptionalDepends}
Description: Java Portlet Specification V2.0
 The Java Portlet API version 2.0 developed by the Java Community Process
 JSR-286 Expert Group.
 .
 Portlets are pluggable user interface components that are managed
 and displayed in a web portal like Liferay or JBoss Gatein.
 .
 Package current source code is taken from Apache Portals project
 <http://portals.apache.org/>.

Package: libportlet-api-2.0-spec-java-doc
Architecture: all
Section: doc
Depends: ${maven:DocDepends}, ${misc:Depends}
Recommends: ${maven:DocOptionalDepends}
Suggests: libportlet-api-2.0-spec-java
Description: Java Portlet Specification V2.0 - documentation
 The Java Portlet API version 2.0 developed by the Java Community Process
 JSR-286 Expert Group.
 .
 Portlets are pluggable user interface components that are managed
 and displayed in a web portal like Liferay or JBoss Gatein.
 .
 Package current source code is taken from Apache Portals project
 <http://portals.apache.org/>.
 .
 This package provides the API documentation for libportlet-api-2.0-spec-java.
